<div class="example-sidenav-content">
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div style="width: 100%">
      <div class="row" style="width: 100%">
        <button class="button-menu" mat-button>Item 3</button>
        <hr class="dividing-line-menu" />
      </div>
      <div class="row" style="width: 100%">
        <button class="button-menu" mat-button>Item 3</button>
        <hr class="dividing-line-menu" />
      </div>
      <div class="row" style="width: 100%">
        <button class="button-menu" mat-button>Item 3</button>
        <hr class="dividing-line-menu" />
      </div>
      <div class="row" style="width: 100%">
        <button class="button-menu" mat-button>Item 3</button>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
